---
---
<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Hello world app : hello world app" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>Hello world app</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/roberts-sandbox/hello_world_app">View on GitHub</a>

          <h1 id="project_title">Hello world app</h1>
          <h2 id="project_tagline">hello world app</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/roberts-sandbox/hello_world_app/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/roberts-sandbox/hello_world_app/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->

<!-- xxx -->
<ul>
    {% for post in paginator.posts %}
        <li>
            <article class="post">
                {% if post.featured_picture %}
                <div class="item-pic">
                    <a href="{{ post.featured_picture }}" rel="prettyPhoto">
                        <img src="{{ post.featured_picture }}"{%if post.featured_picture_caption %} alt="{{post.featured_picture_caption}}"{% endif%}>
                        <span class="overlay"></span>
                        <span class="item-zoom"><i class="icon-plus"></i></span>
                    </a>
                </div>
                {% endif %}
                <ul class="unstyled inline post-meta">
                    <li class="post-title"><a href="{{ post.url }}">{{post.title}}</a></li>
                    <li>/</li>
                    <li><a href="{{ post.url }}">{{ post.date | date_to_string}}</a></li>
                    {% if site.enable_comments %}
                    <li>/</li>
                    <li><a href="{{ post.url }}#disqus_thread">Comments</a></li>
                    {% endif %}
                </ul>
                <!-- <span class="pull-right post-type print-btn"><i class="icon-file-alt"></i></span> -->
                <div class="clearfix"></div>

                <section class="post-body">
                    {{ post.content }}
                </section>
Read more</a> -->
            </article><!--/.post -->
        </li>
        {% unless forloop.last %}
        <hr class="custom-divider">
        {% endunless %}
    {% endfor %}
</ul>
<!-- end xxx -->
{% for post in paginator.posts %}

   <!-- here add you post markup -->
   <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
   <p class="author">
    <span class="date">{{post.date}}</span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="/page{{paginator.previous_page}}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="next ">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Hello world app maintained by <a href="https://github.com/roberts-sandbox">roberts-sandbox</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    

  </body>
</html>
